.root {
  padding: 2rem;
  padding-top: 0;
}

.header {
  margin: 1rem 0;
}

.table {
  display: inline-block;
  max-height: 50rem;
  overflow: auto;
}

.tfoot {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.thead {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.jobDetailData {
  max-height: 5rem;
  overflow: auto;
  padding: 0.5rem;
}

.typeBtn {
  margin: 0.5rem;
  cursor: pointer;
}

.typeBtn.active {
  background-color: #000;
  color: #fff;
}
