.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.connectionList {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.connectionItem {
  background: #1890ff;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.connectionItem a {
  color: #fff;
  display: block;
  width: 100%;
}

.connectionItem a:hover {
  color: #fff;
}
